@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

:root {
  --bg-color: #233e5c;
  --button-accent: #6a9eda;
  --gradient-left: #233e5c;
  --gradient-center: #3169a8;
  --gradient-right: #3d85d6;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

